@media screen and (max-width: 400px) {
    .nav-container {
        flex-direction: column;
    }
    .logo-container{
         justify-content: center;
    }

    .nav-item-container {
        flex-direction: column;
        width: 100%;
    }

    .nav-item-container a {
        margin-bottom: 20px;
    }

    .nav-item-container .login-btn {
        width: 100%;
    }
    /* nav responsive ends here  */

    /* banner responsive design starts here  */

    .banner-container{
       flex-direction: column;
    
    }
    .banner-text, .banner-img{
        width: 100%;
        margin-bottom: 20px;


    }
    .banner-text h1{
        font-size: 30px;

    }
    .banner-text p{
        font-size: 24px;
    }
    .fa-brands{
        font-size: 30px;
    }

    /* single product style  */
    .grid-container{
        grid-template-columns: 1fr;
    
    }

    .discount-container{
        flex-direction: column;

    }
    .discount-img{
        width: 100%;

    }
    .discount-text{
        width: 100%;
    }

}